<table cellpadding="12" role="alert">
    <tr class="alert-danger">
        <td width="10">
            <div class="bi material-symbols-outlined me-3 text-center">stars</div>
        </td>
        <td>
            <div class="h5">@ErrorType</div>
            <div>@ErrorMessage</div>
        </td>
    </tr>
</table>

@code {
    [Parameter]
    public string ErrorType { get; set; } = string.Empty;
    [Parameter]
    public string ErrorMessage { get; set; } = string.Empty;
}
