/* Scoped CSS for the alert box */

.box-status {
    font-size: 12pt;
    border-radius: 4px 4px;
}

.box-status-header {
    font-weight: 600;
}

.box-error {
    border: 1px solid #801840;
    background-color: #FCF0F5;
    color: #801840;
}

.box-warning {
    border: 1px solid #42490D;
    background-color: #F5F8DC;
    color: #42490D;
}

.box-info {
    border: 1px solid #3C28D7;
    background-color: #E6E4FA;
    color: #3C28D7;
}

.box-success {
    border: 1px solid green;
    background-color: azure;
    color: green;
}
